* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    }

h1 {
    margin-top: 53px;
    }
 
h2.title {
    margin-top: 30px;
    }

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    }

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
    }

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    }

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
    }

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    }    

.more {
    margin-top: 73px;
    }

.more .more_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    }
.more .img_more {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: white;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    text-align: center;
    width: 339px;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    line-height: 12px;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    font-weight: 300;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/footer_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descript {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.present {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
}

.present_img .bow {
    display: block;
    margin: 0 auto;
}

.present_img .box {
    display: block;
    margin: 0 auto;
}

.present_text {
    margin-top: 42px;
    padding: 0 5px 0 4px;
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
}

.present .present_btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.data {
    height: 515px;
    padding: 89px 0 64px 0;
}

.data .img_webdown {
    position: relative;
    display: block;
    margin: 0 auto;
}

.data .img_web {
    position: absolute;
    right: 547px;
    top: 10px;
    
}

h2.data_1 {
    margin-top: 37px;
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}

h2.data_big {
    margin-top: 30px;
    text-align: center;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    line-height: 12px;
    text-transform: uppercase;
}

.data .data_text {
    margin-top: 25px;
    text-align: center;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
}

.footer {
    height: 166px;
    padding: 61px 0 69px 0;
    background-color: #1a1a1a;
}

.contact {
    display: block;
    margin-top: 0 auto;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: underline;
    text-align: center;
    }